@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	@apply bg-black h-full overflow-x-hidden;
}

#__next {
	@apply h-full;
}

html {
	@apply h-full;
}

.hero-bg {
	background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.1)), url("/images/hero.jpg");
	/* background-repeat: no-repeat; */
	background-size: contain;
}

.shimmer {
	animation: shimmer 2s infinite linear;
	background: linear-gradient(to right, #2c2c2c 4%, #333 25%, #2c2c2c 36%);
	background-size: 1000px 100%;
}

@keyframes shimmer {
	0% {
		background-position: -1000px 0;
	}

	100% {
		background-position: 1000px 0;
	}
}

.stream_swiper {
	overflow: visible !important;

	.swiper-button-prev,
	.swiper-button-next {
		color: white;
	}

	.swiper-button-prev {
		/* left: -2.75rem; */
		background-color: black;
		border-radius: 9999px;
		width: 2.4rem;
		height: 2.4rem;
		display: flex;
		align-items: center;
		justify-content: center;

		&::after {
			font-size: 1rem;
		}
	}

	.swiper-button-next {
		/* left: -2.75rem; */
		background-color: black;
		border-radius: 9999px;
		width: 2.4rem;
		height: 2.4rem;
		display: flex;
		align-items: center;
		justify-content: center;

		&::after {
			font-size: 1rem;
		}
	}
}

.similar_swiper {
	width: 100%;
	padding-top: 50px;
	padding-bottom: 50px;

	.swiper-slide {
		background-position: center;
		background-size: cover;
		width: 300px;
		height: 450px;
		overflow: visible;
	}

	.swiper-slide img {
		display: block;
		width: 100%;
	}
}

.error-page--content::before {
	background: radial-gradient(ellipse at center,
			rgba(0, 0, 0, 0.5) 0,
			rgba(0, 0, 0, 0.2) 45%,
			rgba(0, 0, 0, 0.1) 55%,
			transparent 70%);
	bottom: -10vw;
	content: "";
	left: 10vw;
	position: absolute;
	right: 10vw;
	top: -10vw;
	z-index: -1;
}